<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form DB</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/form-page"> Form page </a></li>
        </ul>
    </nav>
    <h1>Home Page</h1>
{% if form_data.is_empty()%}
<h1>Nothing in database</h1>
{% else %}
{% for each_form in form_data %}
<div class="card">
    <div>
        <div>
            <p>{{each_form.name}}</p>
            <p>{{each_form.email}}</p>
        </div>
    </div>
</div>
{% endfor %}

{% endif %}
</body>
</html>